@use 'styles' as *;

.error-page{
    background-color: $white-100;
    box-shadow: $box-shadow-1;
    margin: 10vh auto;
    padding: 6vw;

    &__header{
        color: $black-70;
        font-size: 1.8rem;
    }

    &__details{
        margin: 20px 10px;
    }
}