$black-100: #1a2328;
$black-80: #484f53;
$black-70: #5f6569;
$black-50: #8c9193;
$black-30: #c6c8c9;
$black-20: #dddedf;
$black-10: #ededee;
$black-5: #f6f6f6;

$blue-100: #0088da;
$blue-20: #cce7f8;
$blue-15: #d9edf9;
$blue-10: #e6f3fb;
$blue-5: #f2f9fd;

$red-100: #d71515;
$red-15: #fae3e3;
$red-5: #fdf3f3;
$dark-red-100: #a30303;
$dark-red-90: #bc2626;

$white-100: #ffffff;

$bg-color: #f5f8fd;
$shadow: #dde3ec;
