@use 'styles' as *;

.detail-view {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include md {
    flex-direction: row;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  &__arrow {
    height: 40px;
    width: 30px;
  }

  &__image {
    aspect-ratio: 1;
    background-color: $white-100;
    box-shadow: $shadow-tile;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 8px;

    img {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include md {
      flex: 1;
      min-width: 300px;
    }
  }

  &__episodes {
    @include md {
      flex: 2;
      max-height: 90vh;
      overflow-y: auto;
    }
  }
}
